.page {
  padding: 0;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  font-family: Rubik, Arial, sans-serif;
  color: white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background-color: #111111;
}