.discount__description-special-price {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(252, 181, 0, 1);
  margin: 0 0 30px;
}

@media screen and (min-width: 650px) {
  .discount__description-special-price {
    margin: 0;
  }
}